 .button-container {
    width: 300px
  }

  #button-next {
    background-color: #16b9c5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 400px
  }

  #button-previous {
    background-color: #16b9c5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 400px
  }

  .question-card {
  padding: 50px 0;
  text-align: center;
  background-color: rgb(217, 221, 223);
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  height: 100%;
  font-size: x-large;
  font-weight: bolder;
  }
  #answers {
    padding: 50px 0;
    text-align: center;
    background-color: rgb(106, 192, 103);
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: 100%;
    display: none;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    }


  #button-reveal {
    background-color: #16b9c5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 400px;
  }
